<!-- Borrowed brom a S.O. article to learn about Profiles for Devise users -->
<div class="container">
  <div class="row">
    <div class="register col-md-10">
      <h1>Sign up</h1>

      <% resource.build_profile %>
      <%= bootstrap_form_for(resource, as: resource_name,
                            url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
        <div class="row">
          <div class="field col-xs-8 col-sm-6">
            <h2><%= f.label :email %></h2>
            <p><%= f.email_field :email, autofocus: true %></p>
          </div>
        </div>
        <div class="row">
          <div class="field col-xs-8 col-sm-6">
            <h2><%= f.label :username %></h2>
            <p><%= f.text_field :username, autofocus: true %></p>
          </div>
        </div>
        <div class="row">
          <div class="field col-xs-8 col-sm-6">
            <h2><%= f.label :bio %></h2>
            <p><%= f.text_area :bio, autofocus: true %></p>
          </div>
        </div>
        <div class="row">
          <div class="field col-xs-8 col-sm-6">
            <h2><%= f.label :password %></h2>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <p><%= f.password_field :password, autocomplete: "off" %></p>
          </div>
        </div>
        <div class="row">
          <div class="field col-xs-8 col-sm-6 col-md-4 col-lg-3">
            <h2><%= f.label :password_confirmation %></h2>
            <p><%= f.password_field :password_confirmation, autocomplete: "off" %></p>
          </div>
        </div>
          <%= f.fields_for :profile do |profile_form| %>
            <p><%= profile_form.hidden_field :user_id %></p>
          <% end %>

          <div class="actions">
            <%= f.submit "Sign up" %>
          </div>

        <br/>
        <%= render :partial => "devise/shared/links" %>
      <% end %>
    </div>
  </div>
</div>
