<div class="nest">
  <div class="comment">
    <%= simple_format(comment.body) %>
    <em><p class="comment-meta">Posted by <%=link_to comment.user.email %> <%= time_ago_in_words(comment.created_at) %> ago</p></em>
    <% if user_signed_in? %>
      <div class="form"><%= render :partial => "comments/form", :locals => {:commentable_object => comment} %></div>
    <% end %>
    <div class="nested"><%= render :partial => "comments/comment", :collection => comment.comments %></div>
  </div>
</div>
