<div class="row">
  <div class ="col-xs-1 post-rating">
    <% if user_signed_in? %>
      <%= link_to upvote_path(:id => post.id), class: "btn btn-default" do %>
        <i class="glyphicon glyphicon-chevron-up"></i>
      <% end %>
    <% end %>
    <h4><%= post.rating_cache %></h4>
    <% if user_signed_in? %>
      <%= link_to downvote_path(:id => post.id), class: "btn btn-default" do %>
        <i class="glyphicon glyphicon-chevron-down"></i>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-6 pic-preview">
    <a href="<%=post.url%>" class="thumbnail">
      <img src="<%=post.url%>" onerror="this.src='<%=image_path("yaddit_guy#{%w(1 2 3 4).sample}.png")%>';" alt="Missing Image">
    </a>
  </div>
  <div class="col-md-9 col-sm-8 col-xs-5">
    <%= link_to post_fetch_path(post) do %>
      <h3 class="post-title">
        <%= post.title %>
      </h3>
    <% end %>
    <p><em>submitted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.email%></em></p>
    <p class="display-subreddit"><small><em> /r/<%= post.subreddit.title%></em></small></p>
    <%= link_to "#{post.comments.count} Comments", post_path(post)%>
  </div>
</div>
